.section-header {
    display: inline-flex;
    align-items: center;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    gap: 1rem;
}

.section-header h2 {
    font-size: 2rem;
}

.section-header svg {
    font-size: 2rem;
}

@media (max-width: 760px) {

    .section-header h2 {
        font-size: 1.5rem;
    }

    .section-header svg {
        font-size: 1.5rem;
    }

}

@media (max-width: 500px) {

    .section-header h2 {
        font-size: 1.3rem;
    }

    .section-header svg {
        font-size: 1.5rem;
    }
}